$ColorLightBlue: #D5F5F9;
$ColorDarkBlue: #00659D;
$ColorNaranja: #fc8890;


.objLista_referencias{
  font-size: 1rem!important;
  margin-left: 1rem !important;
}

.carta-dashboard {
    background-image: url('../../../../assets/img/curved-images/white-curved.jpg');
}

.carta-dashboard2 {
    background-image: url('../../../../assets/img/ganso/presentacion_personaje.png');
}

.bg-naranja {
    background-color: $ColorNaranja;
}


.fill-naranja {
    fill: $ColorNaranja;
}

.text-naranja{
  color: $ColorNaranja;
}

.text-darkBlue {
    color: $ColorDarkBlue;
}

.bg-darkBlue {
    background-color: $ColorDarkBlue;
}

.fill-darkBlue {
    fill: $ColorDarkBlue  !important;
}

.text-lightBlue {
    color: $ColorLightBlue;
}

.bg-lightBlue {
    background-color: $ColorLightBlue;
}

.fill-lightBlue {
    fill: $ColorLightBlue;
}

.waveTop {
    margin-bottom: -1% !important;
}

.waveBottom {
    margin-top: -4% !important;
}

body {
    width: 100% !important;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.btn-morado {
    color: #ffffff;
    background-color: #B276C1;
    border-color: #A770B5;
}

.btn-radius {
    border: none;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    align-self: flex-end;
    margin-top: 14px;
  }


.btn-morado:hover,
.btn-morado:focus,
.btn-morado:active,
.btn-morado.active,
.open .dropdown-toggle.btn-morado {
    color: #ffffff;
    background-color: #BA7DC9;
    border-color: #A770B5;
}

.btn-morado:active,
.btn-morado.active,
.open .dropdown-toggle.btn-morado {
    background-image: none;
}

.btn-morado.disabled,
.btn-morado[disabled],
fieldset[disabled] .btn-morado,
.btn-morado.disabled:hover,
.btn-morado[disabled]:hover,
fieldset[disabled] .btn-morado:hover,
.btn-morado.disabled:focus,
.btn-morado[disabled]:focus,
fieldset[disabled] .btn-morado:focus,
.btn-morado.disabled:active,
.btn-morado[disabled]:active,
fieldset[disabled] .btn-morado:active,
.btn-morado.disabled.active,
.btn-morado[disabled].active,
fieldset[disabled] .btn-morado.active {
    background-color: #B276C1;
    border-color: #A770B5;
}

.btn-morado .badge {
    color: #B276C1;
    background-color: #ffffff;
}.btn-verde { 
  color: #ffffff; 
  background-color: #ADC748; 
  border-color: #ADC748; 
} 
 
.btn-verde:hover, 
.btn-verde:focus, 
.btn-verde:active, 
.btn-verde.active, 
.open .dropdown-toggle.btn-verde { 
  color: #ffffff; 
  background-color: #ABBD64; 
  border-color: #ADC748; 
} 
 
.btn-verde:active, 
.btn-verde.active, 
.open .dropdown-toggle.btn-verde { 
  background-image: none; 
} 
 
.btn-verde.disabled, 
.btn-verde[disabled], 
fieldset[disabled] .btn-verde, 
.btn-verde.disabled:hover, 
.btn-verde[disabled]:hover, 
fieldset[disabled] .btn-verde:hover, 
.btn-verde.disabled:focus, 
.btn-verde[disabled]:focus, 
fieldset[disabled] .btn-verde:focus, 
.btn-verde.disabled:active, 
.btn-verde[disabled]:active, 
fieldset[disabled] .btn-verde:active, 
.btn-verde.disabled.active, 
.btn-verde[disabled].active, 
fieldset[disabled] .btn-verde.active { 
  background-color: #ADC748; 
  border-color: #ADC748; 
} 
 
.btn-verde .badge { 
  color: #ADC748; 
  background-color: #ffffff; 
}

.btn-azul {
    color: #ffffff;
    background-color: #14A0E1;
    border-color: #0DB2FF;
}

.btn-azul:hover,
.btn-azul:focus,
.btn-azul:active,
.btn-azul.active,
.open .dropdown-toggle.btn-azul {
    color: #ffffff;
    background-color: #26ADEB;
    border-color: #0DB2FF;
}

.btn-azul:active,
.btn-azul.active,
.open .dropdown-toggle.btn-azul {
    background-image: none;
}

.btn-azul.disabled,
.btn-azul[disabled],
fieldset[disabled] .btn-azul,
.btn-azul.disabled:hover,
.btn-azul[disabled]:hover,
fieldset[disabled] .btn-azul:hover,
.btn-azul.disabled:focus,
.btn-azul[disabled]:focus,
fieldset[disabled] .btn-azul:focus,
.btn-azul.disabled:active,
.btn-azul[disabled]:active,
fieldset[disabled] .btn-azul:active,
.btn-azul.disabled.active,
.btn-azul[disabled].active,
fieldset[disabled] .btn-azul.active {
    background-color: #14A0E1;
    border-color: #0DB2FF;
}

.btn-azul .badge {
    color: #14A0E1;
    background-color: #ffffff;
}

.btn-amarillo {
    color: #ffffff;
    background-color: #FFC300;
    border-color: #FCCB2A;
}

.btn-amarillo:hover,
.btn-amarillo:focus,
.btn-amarillo:active,
.btn-amarillo.active,
.open .dropdown-toggle.btn-amarillo {
    color: #ffffff;
    background-color: #FAD14B;
    border-color: #FCCB2A;
}

.btn-amarillo:active,
.btn-amarillo.active,
.open .dropdown-toggle.btn-amarillo {
    background-image: none;
}

.btn-amarillo.disabled,
.btn-amarillo[disabled],
fieldset[disabled] .btn-amarillo,
.btn-amarillo.disabled:hover,
.btn-amarillo[disabled]:hover,
fieldset[disabled] .btn-amarillo:hover,
.btn-amarillo.disabled:focus,
.btn-amarillo[disabled]:focus,
fieldset[disabled] .btn-amarillo:focus,
.btn-amarillo.disabled:active,
.btn-amarillo[disabled]:active,
fieldset[disabled] .btn-amarillo:active,
.btn-amarillo.disabled.active,
.btn-amarillo[disabled].active,
fieldset[disabled] .btn-amarillo.active {
    background-color: #FFC300;
    border-color: #FCCB2A;
}

.btn-amarillo .badge {
    color: #FFC300;
    background-color: #ffffff;
}


.btn-naranja { 
    color: #ffffff; 
    background-color: #FC8890; 
    border-color: #FFD4D7; 
  } 
   
  .btn-naranja:hover, 
  .btn-naranja:focus, 
  .btn-naranja:active, 
  .btn-naranja.active, 
  .open .dropdown-toggle.btn-naranja { 
    color: #ffffff; 
    background-color: #E87B82; 
    border-color: #FFD4D7; 
  } 
   
  .btn-naranja:active, 
  .btn-naranja.active, 
  .open .dropdown-toggle.btn-naranja { 
    background-image: none; 
  } 
   
  .btn-naranja.disabled, 
  .btn-naranja[disabled], 
  fieldset[disabled] .btn-naranja, 
  .btn-naranja.disabled:hover, 
  .btn-naranja[disabled]:hover, 
  fieldset[disabled] .btn-naranja:hover, 
  .btn-naranja.disabled:focus, 
  .btn-naranja[disabled]:focus, 
  fieldset[disabled] .btn-naranja:focus, 
  .btn-naranja.disabled:active, 
  .btn-naranja[disabled]:active, 
  fieldset[disabled] .btn-naranja:active, 
  .btn-naranja.disabled.active, 
  .btn-naranja[disabled].active, 
  fieldset[disabled] .btn-naranja.active { 
    background-color: #FC8890; 
    border-color: #FFD4D7; 
  } 
   
  .btn-naranja .badge { 
    color: #FC8890; 
    background-color: #ffffff; 
  }

  .btn-pdf { 
    color: #FFFFFF; 
    background-color: #B30B00; 
    border-color: #B30B00; 
  } 
   
  .btn-pdf:hover, 
  .btn-pdf:focus, 
  .btn-pdf:active, 
  .btn-pdf.active, 
  .open .dropdown-toggle.btn-pdf { 
    color: #FFFFFF; 
    background-color: #C2433A; 
    border-color: #B30B00; 
  } 
   
  .btn-pdf:active, 
  .btn-pdf.active, 
  .open .dropdown-toggle.btn-pdf { 
    background-image: none; 
  } 
   
  .btn-pdf.disabled, 
  .btn-pdf[disabled], 
  fieldset[disabled] .btn-pdf, 
  .btn-pdf.disabled:hover, 
  .btn-pdf[disabled]:hover, 
  fieldset[disabled] .btn-pdf:hover, 
  .btn-pdf.disabled:focus, 
  .btn-pdf[disabled]:focus, 
  fieldset[disabled] .btn-pdf:focus, 
  .btn-pdf.disabled:active, 
  .btn-pdf[disabled]:active, 
  fieldset[disabled] .btn-pdf:active, 
  .btn-pdf.disabled.active, 
  .btn-pdf[disabled].active, 
  fieldset[disabled] .btn-pdf.active { 
    background-color: #B30B00; 
    border-color: #B30B00; 
  } 
   
  .btn-pdf .badge { 
    color: #B30B00; 
    background-color: #FFFFFF; 
  }

  .btn-word { 
    color: #FFFFFF; 
    background-color: #25559A; 
    border-color: #25559A; 
  } 
   
  .btn-word:hover, 
  .btn-word:focus, 
  .btn-word:active, 
  .btn-word.active, 
  .open .dropdown-toggle.btn-word { 
    color: #FFFFFF; 
    background-color: #4172B5; 
    border-color: #25559A; 
  } 
   
  .btn-word:active, 
  .btn-word.active, 
  .open .dropdown-toggle.btn-word { 
    background-image: none; 
  } 
   
  .btn-word.disabled, 
  .btn-word[disabled], 
  fieldset[disabled] .btn-word, 
  .btn-word.disabled:hover, 
  .btn-word[disabled]:hover, 
  fieldset[disabled] .btn-word:hover, 
  .btn-word.disabled:focus, 
  .btn-word[disabled]:focus, 
  fieldset[disabled] .btn-word:focus, 
  .btn-word.disabled:active, 
  .btn-word[disabled]:active, 
  fieldset[disabled] .btn-word:active, 
  .btn-word.disabled.active, 
  .btn-word[disabled].active, 
  fieldset[disabled] .btn-word.active { 
    background-color: #25559A; 
    border-color: #25559A; 
  } 
   
  .btn-word .badge { 
    color: #25559A; 
    background-color: #FFFFFF; 
  }
  .btn-googleDocs { 
    color: #FFFFFF; 
    background-color: #4486F4; 
    border-color: #4486F4; 
  } 
   
  .btn-googleDocs:hover, 
  .btn-googleDocs:focus, 
  .btn-googleDocs:active, 
  .btn-googleDocs.active, 
  .open .dropdown-toggle.btn-googleDocs { 
    color: #FFFFFF; 
    background-color: #6EA1FA; 
    border-color: #4486F4; 
  } 
   
  .btn-googleDocs:active, 
  .btn-googleDocs.active, 
  .open .dropdown-toggle.btn-googleDocs { 
    background-image: none; 
  } 
   
  .btn-googleDocs.disabled, 
  .btn-googleDocs[disabled], 
  fieldset[disabled] .btn-googleDocs, 
  .btn-googleDocs.disabled:hover, 
  .btn-googleDocs[disabled]:hover, 
  fieldset[disabled] .btn-googleDocs:hover, 
  .btn-googleDocs.disabled:focus, 
  .btn-googleDocs[disabled]:focus, 
  fieldset[disabled] .btn-googleDocs:focus, 
  .btn-googleDocs.disabled:active, 
  .btn-googleDocs[disabled]:active, 
  fieldset[disabled] .btn-googleDocs:active, 
  .btn-googleDocs.disabled.active, 
  .btn-googleDocs[disabled].active, 
  fieldset[disabled] .btn-googleDocs.active { 
    background-color: #4486F4; 
    border-color: #4486F4; 
  } 
   
  .btn-googleDocs .badge { 
    color: #4486F4; 
    background-color: #FFFFFF; 
  }



  .btn-backNext-relax { 
    color: #ffffff; 
    background-color: #689CF0; 
    border-color: #689CF0; 
  } 
   
  .btn-backNext-relax:hover, 
  .btn-backNext-relax:focus, 
  .btn-backNext-relax:active, 
  .btn-backNext-relax.active, 
  .open .dropdown-toggle.btn-backNext-relax { 
    color: #ffffff; 
    background-color: #588FE8; 
    border-color: #689CF0; 
  } 
   
  .btn-backNext-relax:active, 
  .btn-backNext-relax.active, 
  .open .dropdown-toggle.btn-backNext-relax { 
    background-image: none; 
  } 
   
  .btn-backNext-relax.disabled, 
  .btn-backNext-relax[disabled], 
  fieldset[disabled] .btn-backNext-relax, 
  .btn-backNext-relax.disabled:hover, 
  .btn-backNext-relax[disabled]:hover, 
  fieldset[disabled] .btn-backNext-relax:hover, 
  .btn-backNext-relax.disabled:focus, 
  .btn-backNext-relax[disabled]:focus, 
  fieldset[disabled] .btn-backNext-relax:focus, 
  .btn-backNext-relax.disabled:active, 
  .btn-backNext-relax[disabled]:active, 
  fieldset[disabled] .btn-backNext-relax:active, 
  .btn-backNext-relax.disabled.active, 
  .btn-backNext-relax[disabled].active, 
  fieldset[disabled] .btn-backNext-relax.active { 
    background-color: #a7c1eb; 
    border-color: #a7c1eb; 
  } 
   
  .btn-backNext-relax .badge { 
    color: #689CF0; 
    background-color: #ffffff; 
  }
  .btn-excel { 
    color: #ffffff; 
    background-color: #1A7343; 
    border-color: #1A7343; 
  } 
   
  .btn-excel:hover, 
  .btn-excel:focus, 
  .btn-excel:active, 
  .btn-excel.active, 
  .open .dropdown-toggle.btn-excel { 
    color: #ffffff; 
    background-color: #21593B; 
    border-color: #1A7343; 
  } 
   
  .btn-excel:active, 
  .btn-excel.active, 
  .open .dropdown-toggle.btn-excel { 
    background-image: none; 
  } 
   
  .btn-excel.disabled, 
  .btn-excel[disabled], 
  fieldset[disabled] .btn-excel, 
  .btn-excel.disabled:hover, 
  .btn-excel[disabled]:hover, 
  fieldset[disabled] .btn-excel:hover, 
  .btn-excel.disabled:focus, 
  .btn-excel[disabled]:focus, 
  fieldset[disabled] .btn-excel:focus, 
  .btn-excel.disabled:active, 
  .btn-excel[disabled]:active, 
  fieldset[disabled] .btn-excel:active, 
  .btn-excel.disabled.active, 
  .btn-excel[disabled].active, 
  fieldset[disabled] .btn-excel.active { 
    background-color: #1A7343; 
    border-color: #1A7343; 
  } 
   
  .btn-excel .badge { 
    color: #1A7343; 
    background-color: #ffffff; 
  }

  @media (max-width:768px) {
    .btn-sm-lg{
    padding: 0.25rem 0.5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    }

    @media (max-width:1000px) {
      .objLista_referencias{
        font-size: 0.8rem!important;
      }
    }
  
}