.nameNav {
    font-family: "Quicksand", sans-serif;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

.nameNav {
    font-family: "Quicksand", sans-serif;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #00659d;
}

.nameNavActive {
    font-family: "Quicksand", sans-serif;
    display: inline-block;
    color: inherit;

    font-size: 18px;
    font-weight: bold;
    color: #00659d;
    text-decoration: underline wavy rgba(53, 201, 221, 0.644);
}

.btn-naranja {
    color: #fff;
    background-color: #fc8890;
    border-color: #fc8890;
    border-radius: 5px;

}

.btn-naranja:hover {
    background-color: #fb7982;
    border-color: #fb7982;
}

.btn-check:focus+.btn-naranja,
.btn-naranja:focus.btn-naranja:focus {
    background-color: #fa737c;
    border-color: #fa737c;
    box-shadow: 0 0 0 0.25rem #fa99a09a;
}

.btn-naranja.disabled,
.btn-naranja:disabled {
    background-color: #fc8890;
    border-color: #fc8890;
}

.btn-outline-naranja {
    color: #fc8890;
    border-color: #fc8890;
}

.btn-outline-naranja:hover {
    color: #fff;
    background-color: #fc8890;
    border-color: #fc8890;
}

.btn-check:focus+.btn-outline-naranja,
.btn-outline-naranja:focus {
    box-shadow: 0 0 0 0.2rem rgba(203, 12, 159, 0.5);
}

.btn-check:checked+.btn-outline-naranja,
.btn-check:active+.btn-outline-naranja,
.btn-outline-naranja:active,
.btn-outline-naranja.active,
.btn-outline-naranja.dropdown-toggle.show {
    color: #fff;
    background-color: #fc8890;
    border-color: #fc8890;
}

.btn-check:checked+.btn-outline-naranja:focus,
.btn-check:active+.btn-outline-naranja:focus,
.btn-outline-naranja:active:focus,
.btn-outline-naranja.active:focus,
.btn-outline-naranja.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.2rem rgba(203, 12, 159, 0.5);
}

.btn-outline-naranja:disabled,
.btn-outline-naranja.disabled {
    color: #f7bec2;
    background-color: transparent;
}




/*
correccion para dispositivos moviles
@media only screen and (max-width: 992px){
.btn-naranja{
    width:25%;
    margin-left:0px!important;
    text-align:center;
}
}*/