.nameNav {
    font-family: "Quicksand", sans-serif;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

.nameNav {
    font-family: "Quicksand", sans-serif;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #00659d;
}

.nameNavActive {
    font-family: "Quicksand", sans-serif;
    display: inline-block;
    color: inherit;

    font-size: 18px;
    font-weight: bold;
    color: #00659d;
    text-decoration: underline wavy rgba(53, 201, 221, 0.644);
}
.btn-naranja { 
    color: #ffffff; 
    background-color: #FC8890; 
    border-color: #FFD4D7; 
  } 
   
  .btn-naranja:hover, 
  .btn-naranja:focus, 
  .btn-naranja:active, 
  .btn-naranja.active, 
  .open .dropdown-toggle.btn-naranja { 
    color: #ffffff; 
    background-color: #E87B82; 
    border-color: #FFD4D7; 
  } 
   
  .btn-naranja:active, 
  .btn-naranja.active, 
  .open .dropdown-toggle.btn-naranja { 
    background-image: none; 
  } 
   
  .btn-naranja.disabled, 
  .btn-naranja[disabled], 
  fieldset[disabled] .btn-naranja, 
  .btn-naranja.disabled:hover, 
  .btn-naranja[disabled]:hover, 
  fieldset[disabled] .btn-naranja:hover, 
  .btn-naranja.disabled:focus, 
  .btn-naranja[disabled]:focus, 
  fieldset[disabled] .btn-naranja:focus, 
  .btn-naranja.disabled:active, 
  .btn-naranja[disabled]:active, 
  fieldset[disabled] .btn-naranja:active, 
  .btn-naranja.disabled.active, 
  .btn-naranja[disabled].active, 
  fieldset[disabled] .btn-naranja.active { 
    background-color: #FC8890; 
    border-color: #FFD4D7; 
  } 
   
  .btn-naranja .badge { 
    color: #FC8890; 
    background-color: #ffffff; 
  }




/*
correccion para dispositivos moviles
@media only screen and (max-width: 992px){
.btn-naranja{
    width:25%;
    margin-left:0px!important;
    text-align:center;
}
}*/