.card_SurveyRealizada {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fc8890;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    width: 175px;
    height: 175px;
    cursor: pointer;
}

.imgGanso_AutoEvaluativo_resultados {
    width: 180px;
}

@media (max-width:768px) {
    .card_SurveyRealizada {
        width: 140px;
        height: 140px;
    }

    .imgGanso_AutoEvaluativo_resultados {
        width: 150px;
    }
}