.centrado {
    text-align: center;
}

.row-semaforo {
    display: flex;

}

.carta-semaforo {
    flex: 1;
}


@media all and (min-width: 570px) {
    .margen-izquierdo {
        margin-left: 25px;
    }
}